# For variables you need accessible at build time, add the variable to
# next.config.js. For secret values in local development, add the variable
# to .env.build, outside of source control.

# Update these with your Firebase app's values.
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-abc12@your-app.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nBigStringWithLotsOfAlphanumericCharactersHere\n-----END PRIVATE KEY-----\n"